// Created by AVALON on 12/5/15.

extends layoutAdmin

block content
  p.pageId 2
  .navbar.navbar-default
    .container-fluid.navbarCon
      .navbar-header
        h1 Rando eCorp
      a(href="http://localhost:3000/")
        button.admin Home
  .container
    table.applicants.row